<!DOCTYPE html>
<html>
<head>
<title>Build Your Dream PC</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button">LOGO</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="learn" class="w3-bar-item w3-button">Learn<i class="fa fa-book"></i></a>
      <a href="search" class="w3-bar-item w3-button">Search<i class="fa fa-search"></i></a>
      <a href="saved" class="w3-bar-item w3-button">Saved<i class="fa fa-bookmark"></i></a>
      <a href="myProfile" class="w3-bar-item w3-button"><span id="username1">Profile</span><i class="fa fa-user"></i></a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Build</h3>
    <p>Let's build your next PC</p>
      <br>
      <p>What is your ideal price?</p>
      <span><input class="w3-input" type="rxange" min="0" max="3000" value="1000" name="price" id="priceSlider" onchange="document.getElementById('priceLabel').innerHTML = document.getElementById('priceSlider').value" required>$<input type="text" id="priceLabel" value="1000"></span>
      <hr>
      <p>Do you prefer aesthetics or performance?</p>
      <input class="w3-input w3-section w3-border" type="range"  required name="perf1">
      <p>Aesthetics<span class="w3-right">Perfomance</span></p>
      <hr>
      <p>Do you prefer brand name or performance</p>
      <input class="w3-input w3-section w3-border" type="range"  required name="Email">
      <p>Brand name<span class="w3-right">Perfomance</span></p>
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-gear"></i> Build
      </button>
  </div>


<!-- End page content -->
</div>
<script>
  const axios = require("axios")
  axios.get('/api/auth?').then(function (response){
    document.getElementById('username1').innerHTML = response.username
  })
</script>
</body>